.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

    .topmenu > li > a {
        font-size: 0.9rem;
        font-weight: bold;
        color: #404040;
        padding: 8px 10px;
    }

    .topmenu li a:hover {
        color: #D5B45B;
    }
    .topmenu .submenu-link a {
        padding: 8px 10px;
        display: inline-block;
    }
    .topmenu .submenu-link:after {
        content: "\f107";
        font-family: "FontAwesome";
        color: inherit;
        padding-right: 10px;
    }
.topmenu .submenu-link.active .submenu {
    opacity: 1;
    transform: scaleY(1);
}

    .topmenu > li.submenu-link:hover, .topmenu > li.submenu-link:hover > a {
        color: #999 !important;
    }

.topmenu .submenu {
    background: #eff0f0;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    box-shadow: 2px 2px 7px #cbc8c8;
    -moz-box-shadow: 2px 2px 7px #cbc8c8;
    -webkit-box-shadow: 2px 2px 7px #cbc8c8;
}

        .topmenu .submenu a {
            color: white;
            display: block;
            text-align: left;
            padding: 12px 15px;
            font-size: 13px;
            border-bottom: 1px solid rgba(255,255,255,.1);
        }

        .topmenu .submenu li:last-child a {
            border-bottom: none;
        }

.topmenu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.6);
}
.topmenu .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
@media screen and (max-height: 800px) {
    .topmenu .divider {
        margin: 1px 0;
    }
}

.blocks .autor {
    color:gray;
    font-size:medium;
}
.blocks time {
    font-style: italic;
    font-size:small;
}
